.clint {
	background-color: rgb(227, 235, 235);
	padding: 70px 0;
	height: 100vh;
	
	

	.about-me-divider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		

		.faceImg-layer1 {
	
			.faceImg-layer2 {
				max-width: 450px;
	
				.faceImg {
					img {
						margin: 0 auto;
						box-shadow: 12px 12px 2px 1px $teal;
						border-radius: 5px;
					}
				}
			}
		}
		.about-me-text {
			width: 45%;
			background-color: $white;
			border-radius: 5px;
			box-shadow: 12px 12px 2px 1px $black;
			p {
				font-size: 3rem;
				padding: 15px 0 10px 25px;


			}
		}
	}


	
	
}