.clint {
	background-color: rgb(227, 235, 235);
	padding: 70px 0;
	height: 100vh;
	
	

	.about-me-divider {
		display: flex;
		

		.faceImg-layer1 {
	
			.faceImg-layer2 {
				max-width: 500px;
	
				.faceImg {
					img {
						margin: 0 auto;
						box-shadow: 12px 12px 2px 1px $teal;
					}
				}
			}
		}
		.about-me-text {
			width: 80%;
			p {
				padding: 50px 0;

			}
		}
	}


	
	
}