.clint {
	background: $grey;
	h2 {
		text-align: center;
		color: $white;
	}
	.faceImg-layer1 {

		.faceImg-layer2 {
			border: 6px dotted lightgrey;
			border-radius: 50%;
			max-width: 270px;
			margin: 0 auto;

			.faceImg {
				img {
					max-width: 250px;
					border: 3px solid $pink;
					padding: 10px;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
	
	p {
		padding: 30px 0;
		margin: 0 auto;
		width: 50%;
		text-align: center;
		color: $white;
	}
}
