.contact {
  // background-image: url(../../assets/background-texture.jpg);
  background-size: cover;
  padding: 70px 0;
  

  .contact-container {
    align-items: center;

    .contact-message {
      font-size: 2rem;

      form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .form-inputs {
          width: calc((100% / 2) - 30px);
          margin: 15px 0;

          input {
            width: 100%;
            border-radius: 10px;
            padding: 15px;
            border: 2px solid $black;
          }
        }
        .form-inputs:nth-of-type(3) {
          width: 100%;

          textarea {
            resize: none;
            width: 100%;
            border-radius: 10px;
            padding: 15px;
            border: 2px solid $black;
            height: 30vh;
          }
        }
        .form-inputs:last-child {
          margin: 0 auto;
          width: 300px;
        }
      }
    }
  }
}
