.contact {
  background: linear-gradient(to bottom, white, $pink);

  .contact-left {
    width: 50%;
  }

  .contact-right {
    width: 50%;

    input[type=text], 
    input[type=email],
    textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

}
