footer {
	margin: 0 auto;
	padding: 20px;
	background-color: $teal;

	.footer-icons {
		display: flex;
		justify-content: center;

		ul {
			padding: 0;
			display: flex;

			li {

				a {
					padding: 10px;

					i {
						font-size: 3rem;
						color: $white;
					}
				}
				a:hover {

					i {
						color: $pink;
					}
				}
			}
		}
	}

	.contact-info {
		text-align: center;

		a {
			color: $white;
		}

	}

	.footer-divider {
		height: 1px;
		width: 100%;
		border-bottom: 1px solid $white;
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.copyright {
		width: 100%;
		display: flex;
		justify-content: space-between;
		p {
			color: $white;
			display: block;
		}
	}

	
  
}