footer {
	background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.5) 100%),url("../../assets/footer-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0 auto;
	padding: 20px;

	.footer-icons {
		display: flex;
		justify-content: center;

		ul {
			padding: 0;
			display: flex;

			li {

				a {
					padding: 10px;

					i {
						font-size: 3rem;
						color: $fontgrey;
					}
				}
				a:hover {

					i {
						color: $pink;
					}
				}
			}
		}
	}

	.contact-info {
		text-align: center;

		p {
			color: $fontgrey;
			letter-spacing: 1px;
		}

	}

	.footer-divider {
		height: 1px;
		width: 100%;
		border-bottom: 1px solid $fontgrey;
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.copyright {
		width: 100%;
		display: flex;
		justify-content: space-between;
		p {
			font-size: 1.4rem;
			color: $fontgrey;
			letter-spacing: 0.1px;
		}
	}
}