header {
	padding-top: 30px;
	height: 100vh;
	background-image: url(../../assets/laughing.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;

	.hero-wrapper {
		width: 85%;
		margin: 0 auto;
		position: relative;
		
		
		.top-menu-bar {
			width: 85%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: sticky;
			top: 0;
			background: white;
			box-shadow: 1px 1px 1px 1px #ccc;
			z-index: 20;

			.logoContainer {
				width: 60px;
				padding: 10px;
			}

			.toggleMenu {
				display: none;
			}
			
			ul {
				display: flex;
	
				li {
					list-style: none;
					
					a {
						text-decoration: none;
						padding: 10px;
						color: $black;
					}
				}
			}
		}

		.logo-large {
			width: 40%;
			position: absolute;
			top: 20%;
			opacity: 0.1;
		}

		.hero-name {
			padding: 100px 0 0 0px;
			margin: 0 auto;
			width: 90%;
			transition: all 0.5s;

			h2 {
				color: $white;
			}

			h1 {
				margin: 0;
				line-height: 1.4;
				color: $white;
			}
		}

	}
}

@media (max-width: 1000px) {
	header .hero-wrapper .hero-name {
		padding: 100px 0 0 60px;
		width: 100%;
	}
}

