.menu-bar {
	background: #fff;
	width: 100%;
	position: fixed;
	z-index: 30;
	// box-shadow: 2px 2px 2px 1px #ccc;

	.menu-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo-container {
			width: 50px;
			margin: 10px 0;
		}

		nav ul {
			display: flex;

			li {
				list-style: none;

				a {
					font-size: 2rem;
					// padding: 10px;
					font-weight: 600;
					color: $fontgrey;
				}
			}
		}


	}
	
}

header {
	padding-top: 30px;
	height: 100vh;
	background-image: url(../../assets/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	transition: all 0.5s;
	position: relative;

	.hero-wrapper {
		margin: 0 auto;

		.hero-name {
			padding: 200px 0 0 0px;
			margin: 0 auto;
			width: 100%;
			transition: all 0.5s;
			color: #e0dfdc;
			letter-spacing: .1rem;

			h2 {
				color: $fontgrey;
				font-size: 5rem;
			}

			h1 {
				margin: 0;
				line-height: 1.4;
				color: $fontgrey;
			}
		}

	}
}

.arrow {
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translate(-50%, -50%);
	width: 75px;
	height: 65px;
}

.arrows {
	
	&:hover {
    
    .arrow-all {
      fill: #FFF;
      transition: all .4s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
      
    }
  
  }
}

.arrow-all {
  fill: #FFF;
  transition: all .4s ease-out;
    
  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}




@media (max-width: 1000px) {
	header .hero-wrapper .hero-name {
		// padding: 100px 0 0 60px;
		width: 100%;
	}
}

.button-animation {
	margin: 0px 10px;
	padding: 10px 10px;
	position: relative;
}

.button-animation:after, .button-animation:before {
	position: absolute;
	opacity: 0;
	width: 0%;
	height: 2px;
	content: '';
	background: $fontgrey;
	transition: all 0.6s;
}

.button-animation:before {
  left: 0px;
	top: 0px;
}

.button-animation:after {
  right: 0px;
	bottom: 0px;
}

.button-animation:hover:before, .button-animation:hover:after
{
	opacity: 1;
	width: 100%;
}