.portfolio {
  padding: 70px 0;
  background-color: $white;

  .portfolio-wrapper {
    width: 100%;
    background: $white;
    border-radius: 10px;
    transition: all .5s ease-in-out;

    &:hover {
      transform: scale(1.12);
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    
    .portfolio-container {
      width: 80%;
      display: flex;
      justify-content: space-between;
      margin: 50px auto;
      align-items: center;
      padding: 50px 0;
      

      .portfolio-img {
        width: 48%;
        min-width: 300px;
        max-width: 600px;
      }
      
      .portfolio-text {
        width: 50%;
        h3 {
          // border-bottom: 2px solid $grey;
          padding: 30px 0;
        }

        .portfolio-about {
          width: 100%;
          // padding: 30px;
          
          p {
            padding: 50px 0;
          }
        }

        .portfolio-skills {
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;

          p {
            font-size: 1.5rem;
            background-color: $black;
            margin: 5px 5px;
            border-radius: 3px;
            padding: 5px 10px;
            color: $white;
            font-weight: 900;
            box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 8px rgba(0,0,0,0.24);
          }
          p:first-child {
            margin-left: 0;
          }
        }
        .buttons {
          margin: 20px 0;
          padding: 20px 0;

          a {
            background-color: $teal;
            color: $white;
            font-size: 2.4rem;
            margin: 10px;
            padding: 10px 20px; 
            border-radius: 3px;
            // border-top: 3px dotted $pink;
            // border-bottom: 3px dotted $pink;
            box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 8px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            font-weight: 900;

            &:hover {
              background-color: $pink;
              color: $white;
              box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
          }
          a:first-child {
            margin-left: 0;
          }

        }
      }

    }
    
  }
  .portfolio-wrapper:nth-child(odd) {
    text-align: right; 
    .portfolio-container {
      flex-direction: row-reverse;
    }
   
    .portfolio-skills {
      justify-content: flex-end;
      
      p:last-child {
        margin-right: 0;
      }
    }

    .buttons {
      a:last-child {
        margin-right: 0;
      }
    }
  }
  
}

@media (max-width: 1062px) {
  .portfolio {

  .portfolio-wrapper:nth-child(odd) {
    .portfolio-container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  .portfolio-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    .portfolio-img {
      max-width: 300px;
      
    }
    
    .portfolio-text {
      
      h3 {
        
      }

      .portfolio-skills {
        display:flex;
        justify-content: center;

        p {
          
        }
      }
    }

  }
}
}