.skills {
	height: 100vh;
	background:#f8f8f8;
	padding-top: 70px;

	.subheader-container {

		h2 {
			color: $fontgrey;
		}
	}

	.skills-container {
		width: 100%;
		height: 75vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-around;


		.skills-item {
			text-align: center;
			flex: 1 0 33%;
			transition: all 0.4s;

			svg:hover {
				fill: #DD0081;
			}

			p {
				padding-top: 20px;
				color: $fontgrey;
				transition: all 0.5s;
				font-weight: 600;
			}

			.skills-icon {
				font-size: 6rem;
				color: $fontgrey;
				transition: all 0.2s;

			}

			.devicon-react-original:hover {
				color: #61DBFB;
			}

			.devicon-html5-plain:hover {
				color: #DC4D25;
			}

			.devicon-css3-plain:hover {
				color: #31a4d5;
			}

			.devicon-sass-original:hover {
				color: #cf649a;
			}

			.devicon-javascript-plain:hover {
				color: #E9B820;
			}

			.devicon-jquery-plain:hover {
				color: #0865a7;
			}

			.devicon-gulp-plain:hover {
				color: #D94E5B;
			}

			.devicon-git-plain:hover {
				color: #F05133;
			}

			.devicon-github-plain:hover {
				color: #030104;
			}

			.skills-svg {
				margin:0 auto;
				width: 60px;
				height: 60px;
			}	
		}
	}
}

.firebase-active:hover path.largest-shape, 
.firebase-active:hover path.bottom-line {
	transition: all 0.5s ease-in-out;
	fill: #FCCA3F;
}

.firebase-active:hover use.top-shape,
.firebase-active:hover use.topleft-shape {
	transition: all 0.5s ease-in-out;
	fill: #FFA712;
}

.firebase-active:hover polygon.middle-triangle {
	transition: all 0.5s ease-in-out;
	fill: #F6820C;
}

.premiere-active:hover path.st1 {
	transition: all 0.5s ease-in-out;
	fill: #C35FD2;
}

.aftereffects-active:hover path.st1 {
	transition: all 0.5s ease-in-out;
	fill: #8F88D6;
}