.skills {
	height: 100vh;
	background:#f8f8f8;
	padding-top: 70px;

	.subheader-container {

		h2 {
			color: $fontgrey;
		}
	}

	.skills-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;


		.skills-item {
			text-align: center;
			width: calc(100% / 4);
			margin: 35px auto; 
			// padding: 40px;
			transition: all 0.4s;

			svg:hover {
				fill: #DD0081;
			}

			p {
				color: $pink;
				transition: all 0.5s;
			}

			.skills-icon {
				font-size: 6rem;
				color: $fontgrey;
			}
			
			&:hover {

				p {
					color: $fontgrey;
				}
			}

			.skills-svg {
				width: 60px;
				height: 60px;
				
			}
			
		}
	}
}

