html {
	font-size: 62.5%;
	transition: all 0.3s;
}

body {
	font-family: 'Rajdhani', sans-serif;
}

h1 {
	font-family: 'Sura', sans-serif;
	font-size: 9rem;
}

.hero-korean {
	font-family: 'Gamja Flower';
}

h2 {
	font-size: 6rem;
}

h3 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 5rem;
}

h4 {
	font-size: 4rem;
}

a {
	font-size: 1.7rem;
}

.toggleMenu {
	font-size: 5rem;
}

p {
	font-size: 2.3rem;
}

@media (max-width: 855px) {
	html {
		font-size: 53%;
	}
}
@media (max-width: 735px) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 705px) {
	html {
		font-size: 48%;
	}
}

@media (max-width: 475px) {
	html {
		font-size: 30%;
	}
}