html {
	font-size: 62.5%;
	transition: all 0.3s;
}

body {
	font-family: 'Rajdhani', sans-serif;
}

h1 {
	font-family: 'Raleway Dots', cursive;
	font-size: 9rem;
}

.hero-name {
	@media (max-width: 475px) {
		text-align: center;
	}
}

.hero-korean {
	font-family: 'Nanum Gothic';
}

h2 {
	font-size: 6rem;
}

h3 {
	font-family: 'Rajdhani', sans-serif;
	font-size: 5rem;
}

h4 {
	font-size: 4rem;
}

h5 {
	font-size: 2.5rem;
}

a {
	letter-spacing: 0.17rem;
	font-size: 1.7rem;
}

.toggleMenu {
	font-size: 5rem;
}

p {
	font-size: 2rem;
}

@media (max-width: 855px) {
	html {
		font-size: 53%;
	}
}
@media (max-width: 735px) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 705px) {
	html {
		font-size: 48%;
	}
}

@media (max-width: 475px) {
	html {
		font-size: 30%;
	}
	p {
		font-size: 3.6rem;
	}
	a {
		font-size: 3rem;
	}
}