html {
	font-size: 62.5%;
}

body {
	font-family: 'Rajdhani', sans-serif;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 13rem;
}

h2 {
	font-size: 6rem;
}

h3 {
	font-size: 5rem;
}

a {
	font-size: 1.7rem;
}

p {
	font-size: 2rem;
}