@import 'setup';
@import 'typography';
@import 'utils';
@import 'header';
@import 'aboutme';
@import 'skills';
@import 'portfolio';
@import 'contact';
@import 'footer';

/*==========================
GLOBAL STYLES
==========================*/ 

.wrapper {
	width: 80%;
	margin: 0 auto;
}

img {
	width: 100%;
	display: block;
}

h1, h2, h3, h4, h5, h6, a, p {
	margin: 0;
}

.subheader-container {
	margin: 0 auto;
	width: 30%;
	position: relative;
	
	h2 {
		padding-top: 30px;
		text-align: center;
		color: $grey;
		z-index: 10;
		position: relative;
		padding: 40px 0;
	}
}

/*==========================
MEDIA QUERIES
==========================*/