@import 'setup';
@import 'typography';
@import 'utils';
@import 'header';
@import 'aboutme';
@import 'skills';
@import 'portfolio';
@import 'contact';
@import 'footer';

/*==========================
GLOBAL STYLES
==========================*/ 



.wrapper {
	width: 80%;
	margin: 0 auto;
}

img {
	width: 100%;
	display: block;
}

h1, h2, h3, h4, h5, h6, a, p {
	margin: 0;
}

a {
	text-decoration: none;

}

p {
	line-height: 1.5;
}

.subheader-container {

	position: relative;
	width: 300px;
	
	h2 {
		border-bottom: 3px solid $pink;
		padding-bottom: 20px;
		padding-top: 100px;
		margin-bottom: 20px;
		color: $grey;
		z-index: 10;
		position: relative;
	}
}

.portfolio-container {
	
	.portfolio-text {
		.portfolio-about {
			p {
				display: inline-block;
				width: 400px;
			}
			
		}
	}
}

// .portfolio-container:nth-child(odd) {
// 	.portfolio-text {
// 		.portfolio-about {
// 			p {
// 				text-align: right;
// 				display: inline-block;
// 				width: 400px;
// 			}
			
// 		}
// 	}
// }





/*==========================
MEDIA QUERIES
==========================*/

@media (max-width: 1000px) {
	header .hero-wrapper .hero-name {
		padding: 100px 0 0 60px;
		width: 100%;
	}
}

@media (max-width: 855px) {
	header .hero-wrapper .hero-name {
		padding: 40px 0 0 60px;
		width: 100%;
	}
}
@media (max-width: 735px) {

}

@media (max-width: 705px) {
	.wrapper,
	header .hero-wrapper {
		width: 95%;
	}
}

@media (max-width: 475px) {

	header .hero-wrapper .hero-name {
		padding: 70px 0 0 60px;
		width: 100%;
	}

	header .hero-wrapper .top-menu-bar .toggleMenu {
		display: block;
	}

	header .hero-wrapper .top-menu-bar nav {
		display: none;
	}

	header .hero-wrapper .top-menu-bar nav.open {
		height: auto;
	}

	.subheader-container {
		h2 {
			padding: 30px;
		}
	}
}


