@import 'setup';
@import 'typography';
@import 'utils';
@import 'header';
@import 'aboutme';
@import 'skills';
@import 'portfolio';
@import 'contact';
@import 'footer';

/*==========================
GLOBAL STYLES
==========================*/ 



.wrapper {
	width: 75%;
	margin: 0 auto;
}

img {
	width: 100%;
	display: block;
}

h1, h2, h3, h4, h5, h6, a, p {
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;

}

p {
	line-height: 1.5;
}

.subheader-container {
	width: 320px;
	
	h2 {
		border-bottom: 3px solid $pink;
		margin-bottom: 30px;
		color: $grey;
		z-index: 10;
	}
}

.hide {
	display: none;
}





/*==========================
MEDIA QUERIES
==========================*/

@media (max-width: 1000px) {
	header .hero-wrapper .hero-name {
		padding: 100px 0 0 60px;
		width: 100%;
	}
}

@media (max-width: 855px) {
	header .hero-wrapper .hero-name {
		padding: 40px 0 0 60px;
		width: 100%;
	}

	.skills {
		height: auto;

		.skills-container {

			.skills-item {

				.skills-svg {
					width: 50px;
					height: 50px;
				}
			}

			
		}
	}
}
@media (max-width: 735px) {
	.skills {

		.skills-container {

			.skills-item {
				
				.skills-svg {
					width: 48px;
					height: 48px;
				}
			}

			
		}
	}
}

@media (max-width: 705px) {
	.wrapper,
	header .hero-wrapper {
		width: 95%;
	}

	.skills {
		height: auto;

		.skills-container {

			.skills-item {
				
				.skills-svg {
					width: 46px;
					height: 46px;
				}
			}

			
		}
	}
}

@media (max-width: 650px) {
	.clint {
		height: auto;

		.about-me-divider {
			flex-direction: column;

			.about-me-img {
				margin-bottom: 30px;
			}

			.about-me-text {
				width: 90%;

				.about-me-icons {
					ul {
						display: flex;
						justify-content: center;

						li {
							padding: 0 10px;
						}
					}
				}

				.about-me-resume {
					display: flex;
					justify-content: center;
				}
				
				
			}
		}
	}
} 

@media (max-width: 475px) {


	header {
		background-position: 80% 50%;
	}

	header .hero-wrapper .hero-name {
		padding: 130px 0 0 22px;
		width: 100%;
	}

	header .hero-wrapper .top-menu-bar .toggleMenu {
		display: block;
	}

	header .hero-wrapper .top-menu-bar nav.open {
		height: auto;
	}

	.skills {

		.skills-container {

			.skills-item {
				width: calc(100% / 3);
				margin: 15px 0;
				
				.skills-svg {
					width: 32px;
					height: 32px;
				}
			}

			
		}
	}

	.portfolio .portfolio-wrapper .portfolio-container .portfolio-text {
		width: 100%;
	}

	.portfolio-skills,
	.portfolio .portfolio-container:nth-child(odd) .portfolio-skills {
		justify-content: center;
	}

	.subheader-container {

		h2 {
		}
	}
}


