article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Rajdhani', sans-serif; }

h1 {
  font-family: 'Sura', sans-serif;
  font-size: 9rem; }

.hero-korean {
  font-family: 'Gamja Flower'; }

h2 {
  font-size: 6rem; }

h3 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 5rem; }

h4 {
  font-size: 4rem; }

a {
  font-size: 1.7rem; }

p {
  font-size: 2rem; }

header {
  padding-top: 30px;
  height: 100vh; }
  header .hero-wrapper {
    width: 85%;
    margin: 0 auto;
    position: relative; }
    header .hero-wrapper .top-menu-bar {
      width: 85%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: fixed;
      background: white;
      -webkit-box-shadow: 1px 1px 1px 1px #ccc;
              box-shadow: 1px 1px 1px 1px #ccc;
      z-index: 20; }
      header .hero-wrapper .top-menu-bar .logoContainer {
        width: 60px;
        padding: 10px; }
      header .hero-wrapper .top-menu-bar .toggleMenu {
        display: none; }
      header .hero-wrapper .top-menu-bar ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header .hero-wrapper .top-menu-bar ul li {
          list-style: none; }
          header .hero-wrapper .top-menu-bar ul li a {
            text-decoration: none;
            padding: 10px;
            color: #242722; }
    header .hero-wrapper .logo-large {
      width: 40%;
      position: absolute;
      top: 20%;
      opacity: 0.1; }
    header .hero-wrapper .hero-name {
      padding: 100px 0 0 300px;
      margin: 0 auto;
      width: 90%; }
      header .hero-wrapper .hero-name h2 {
        color: #242722; }
      header .hero-wrapper .hero-name h1 {
        margin: 0;
        line-height: 1;
        color: #242722; }

@media (max-width: 1000px) {
  header .hero-wrapper .hero-name {
    padding: 150px 0 0 0;
    width: 100%; } }

.clint {
  height: 100vh;
  background-image: url(../../assets/laughing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; }
  .clint .about-me-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .clint .about-me-divider .faceImg-layer1 .faceImg-layer2 {
      border-radius: 50%;
      max-width: 270px;
      margin: 0 auto; }
      .clint .about-me-divider .faceImg-layer1 .faceImg-layer2 .faceImg {
        border-radius: 5px; }
        .clint .about-me-divider .faceImg-layer1 .faceImg-layer2 .faceImg img {
          margin: 0 auto; }
  .clint p {
    padding: 30px 0;
    color: #fffbfc; }

.skills {
  height: 100vh;
  background: #59b0b5; }
  .skills .subheader-container h2 {
    color: white; }
  .skills .skills-container .skills-container-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .skills .skills-container .skills-container-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .skills .skills-container .skills-item {
    text-align: center;
    padding: 40px; }
    .skills .skills-container .skills-item p {
      color: white; }
    .skills .skills-container .skills-item .skills-icon {
      font-size: 6rem;
      color: white; }
    .skills .skills-container .skills-item:hover .skills-icon {
      color: #dd0081; }
    .skills .skills-container .skills-item:hover p {
      color: #dd0081; }

.portfolio .portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .portfolio .portfolio-container .portfolio-img {
    min-width: 300px; }
  .portfolio .portfolio-container .portfolio-text h3 {
    border-bottom: 2px solid #646464; }
  .portfolio .portfolio-container .portfolio-text .portfolio-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .portfolio .portfolio-container .portfolio-text .portfolio-skills p {
      border: 4px solid	#d0f3e8;
      margin: 10px;
      border-radius: 3px;
      padding: 5px;
      color: #cadcff; }

.portfolio .portfolio-container:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right; }

@media (max-width: 1062px) {
  .portfolio .portfolio-container:nth-child(odd),
  .portfolio .portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .portfolio .portfolio-container:nth-child(odd) .portfolio-img,
    .portfolio .portfolio-container .portfolio-img {
      max-width: 300px; } }

.contact {
  background-size: cover; }
  .contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact .contact-container .contact-left {
      width: 50%; }
      .contact .contact-container .contact-left .contact-image-container {
        width: 70%;
        margin: 0;
        border: 3px solid grey;
        border-radius: 5px; }
    .contact .contact-container .contact-right {
      width: 50%; }
      .contact .contact-container .contact-right input[type=text],
      .contact .contact-container .contact-right input[type=submit],
      .contact .contact-container .contact-right input[type=email],
      .contact .contact-container .contact-right textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }

/*==========================
GLOBAL STYLES
==========================*/
.wrapper {
  width: 80%;
  margin: 0 auto; }

img {
  width: 100%;
  display: block; }

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0; }

a {
  text-decoration: none; }

.subheader-container {
  margin: 0 auto;
  position: relative; }
  .subheader-container h2 {
    width: 350px;
    border-bottom: 3px solid #dd0081;
    padding-bottom: 20px;
    padding-top: 100px;
    margin-bottom: 50px;
    color: #646464;
    z-index: 10;
    position: relative; }

.portfolio-container .portfolio-text .portfolio-about p {
  display: inline-block;
  width: 400px; }

/*==========================
MEDIA QUERIES
==========================*/
@media (max-width: 400px) {
  html {
    font-size: 50%; }
  .toggleMenu {
    display: block; }
  .subheader-container h2 {
    padding: 30px; } }
