article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

body {
  font-family: 'Rajdhani', sans-serif; }

h1 {
  font-family: 'Sura', sans-serif;
  font-size: 9rem; }

.hero-korean {
  font-family: 'Gamja Flower'; }

h2 {
  font-size: 6rem; }

h3 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 5rem; }

h4 {
  font-size: 4rem; }

a {
  letter-spacing: 0.17rem;
  font-family: 'Archivo', sans-serif;
  font-size: 1.7rem; }

.toggleMenu {
  font-size: 5rem; }

p {
  font-size: 2rem; }

@media (max-width: 855px) {
  html {
    font-size: 53%; } }

@media (max-width: 735px) {
  html {
    font-size: 50%; } }

@media (max-width: 705px) {
  html {
    font-size: 48%; } }

@media (max-width: 475px) {
  html {
    font-size: 30%; }
  p {
    font-size: 3.6rem; }
  a {
    font-size: 3rem; } }

.menu-bar {
  background: #fffbfc;
  width: 100%;
  position: fixed;
  z-index: 30;
  -webkit-box-shadow: 2px 2px 2px 1px #ccc;
          box-shadow: 2px 2px 2px 1px #ccc; }
  .menu-bar .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu-bar .menu-container .logo-container {
      width: 50px;
      margin: 10px 0; }
    .menu-bar .menu-container nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .menu-bar .menu-container nav ul li {
        list-style: none; }
        .menu-bar .menu-container nav ul li a {
          font-size: 2rem;
          padding: 10px;
          font-weight: 600;
          color: #59b0b5; }
        .menu-bar .menu-container nav ul li a:last-child {
          padding-right: 0px; }

header {
  padding-top: 30px;
  height: 100vh;
  background-image: url(../../assets/laughing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  header .hero-wrapper {
    margin: 0 auto;
    position: relative; }
    header .hero-wrapper .hero-name {
      padding: 200px 0 0 0px;
      margin: 0 auto;
      width: 100%;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      color: #e0dfdc;
      letter-spacing: .1em;
      text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9); }
      header .hero-wrapper .hero-name h2 {
        color: #fffbfc; }
      header .hero-wrapper .hero-name h1 {
        margin: 0;
        line-height: 1.4;
        color: #fffbfc; }

@media (max-width: 1000px) {
  header .hero-wrapper .hero-name {
    padding: 100px 0 0 60px;
    width: 100%; } }

.clint {
  background: #fffbfc;
  padding: 70px 0;
  height: 100vh; }
  .clint .about-me-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .clint .about-me-divider .about-me-img {
      width: 30%;
      min-width: 200px; }
      .clint .about-me-divider .about-me-img img {
        -webkit-box-shadow: 9px 9px 2px 1px #59b0b5;
                box-shadow: 9px 9px 2px 1px #59b0b5;
        border-radius: 5px; }
    .clint .about-me-divider .about-me-text {
      width: 50%; }
      .clint .about-me-divider .about-me-text .about-me-paragraph {
        background-color: #fffbfc;
        border-radius: 5px;
        -webkit-box-shadow: 9px 9px 2px 1px #242722;
                box-shadow: 9px 9px 2px 1px #242722; }
        .clint .about-me-divider .about-me-text .about-me-paragraph p {
          padding: 15px 0 10px 25px; }
      .clint .about-me-divider .about-me-text .about-me-resume a {
        font-family: 'Rajdhani', sans-serif;
        font-size: 2.2rem;
        display: inline-block;
        padding: 15px 20px;
        margin: 30px 0 0 0;
        background: #242722;
        color: #fffbfc;
        font-weight: 900;
        border-radius: 5px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 8px rgba(0, 0, 0, 0.24);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 8px rgba(0, 0, 0, 0.24); }
      .clint .about-me-divider .about-me-text .about-me-resume a:hover {
        -webkit-transform: scale(1.19);
                transform: scale(1.19);
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background-color: #59b0b5; }
      .clint .about-me-divider .about-me-text .about-me-icons {
        margin-top: 40px; }
        .clint .about-me-divider .about-me-text .about-me-icons ul {
          padding: 0; }
          .clint .about-me-divider .about-me-text .about-me-icons ul li {
            display: inline-block;
            padding-right: 20px; }
            .clint .about-me-divider .about-me-text .about-me-icons ul li a i {
              color: #242722;
              font-size: 4rem;
              -webkit-transition: all 0.5s;
              transition: all 0.5s; }
            .clint .about-me-divider .about-me-text .about-me-icons ul li a i:hover {
              -webkit-transform: scale(1.5);
                      transform: scale(1.5);
              color: #59b0b5; }

.skills {
  height: 100vh;
  background: #59b0b5;
  padding: 70px 0; }
  .skills .subheader-container h2 {
    color: #fffbfc; }
  .skills .skills-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .skills .skills-container .skills-item {
      text-align: center;
      width: calc(100% / 4);
      margin: 50px auto;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .skills .skills-container .skills-item svg:hover {
        fill: #DD0081; }
      .skills .skills-container .skills-item p {
        color: #59b0b5;
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
      .skills .skills-container .skills-item .skills-icon {
        font-size: 6rem;
        color: #fffbfc; }
      .skills .skills-container .skills-item:hover p {
        color: #fffbfc; }
      .skills .skills-container .skills-item .skills-svg {
        width: 60px;
        height: 60px; }

.portfolio {
  padding: 70px 0;
  background-color: #242722; }
  .portfolio .subheader-container h2 {
    color: #fffbfc; }
  .portfolio .portfolio-wrapper {
    width: 100%;
    background: #fffbfc;
    border-radius: 10px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    .portfolio .portfolio-wrapper:hover {
      -webkit-transform: scale(1.12);
              transform: scale(1.12);
      -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
              box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    .portfolio .portfolio-wrapper .portfolio-container {
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 50px auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 50px 0; }
      .portfolio .portfolio-wrapper .portfolio-container .portfolio-img {
        width: 48%;
        min-width: 300px;
        max-width: 600px; }
      .portfolio .portfolio-wrapper .portfolio-container .portfolio-text {
        width: 50%; }
        .portfolio .portfolio-wrapper .portfolio-container .portfolio-text h3 {
          padding: 15px 0; }
        .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .portfolio-about {
          width: 100%; }
          .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .portfolio-about p {
            padding: 30px 0;
            line-height: 1.6; }
        .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .portfolio-skills {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin: 0 auto; }
          .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .portfolio-skills p {
            font-size: 1.5rem;
            background-color: #242722;
            margin: 5px 10px 5px 0;
            border-radius: 3px;
            padding: 5px 10px;
            color: #fffbfc;
            font-weight: 900;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 8px rgba(0, 0, 0, 0.24);
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 8px rgba(0, 0, 0, 0.24); }
        .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .buttons {
          margin: 20px 0;
          padding: 20px 0; }
          .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .buttons a {
            background-color: #59b0b5;
            color: #fffbfc;
            font-size: 2.4rem;
            margin: 10px;
            padding: 15px 20px;
            border-radius: 3px;
            -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 8px rgba(0, 0, 0, 0.24);
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 8px rgba(0, 0, 0, 0.24);
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            font-weight: 900; }
            .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .buttons a:hover {
              background-color: #dd0081;
              color: #fffbfc;
              -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
          .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .buttons a:first-child {
            margin-left: 0; }
  .portfolio .portfolio-wrapper:nth-child(odd) {
    text-align: right; }
    .portfolio .portfolio-wrapper:nth-child(odd) .portfolio-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .portfolio .portfolio-wrapper:nth-child(odd) .portfolio-container .portfolio-text .portfolio-skills {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        .portfolio .portfolio-wrapper:nth-child(odd) .portfolio-container .portfolio-text .portfolio-skills p {
          margin: 5px 0 5px 10px; }
      .portfolio .portfolio-wrapper:nth-child(odd) .portfolio-container .portfolio-text .buttons a:last-child {
        margin-right: 0; }

@media (max-width: 1062px) {
  .portfolio .portfolio-wrapper:nth-child(odd) .portfolio-container,
  .portfolio .portfolio-wrapper .portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .portfolio .portfolio-wrapper:nth-child(odd) .portfolio-container .portfolio-img,
    .portfolio .portfolio-wrapper .portfolio-container .portfolio-img {
      max-width: 300px; }
    .portfolio .portfolio-wrapper:nth-child(odd) .portfolio-container .portfolio-text .portfolio-skills,
    .portfolio .portfolio-wrapper .portfolio-container .portfolio-text .portfolio-skills {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .portfolio .portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; } }

.contact {
  background-size: cover;
  padding: 70px 0; }
  .contact .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact .contact-container .contact-left {
      width: 50%;
      padding-left: 100px; }
      .contact .contact-container .contact-left a {
        text-decoration: none;
        font-size: 2.5rem;
        color: #242722; }
      .contact .contact-container .contact-left h5 {
        font-size: 3rem; }
      .contact .contact-container .contact-left .contact-image-container {
        width: 70%;
        margin: 0;
        border-radius: 5px; }
    .contact .contact-container .contact-right {
      width: 50%;
      margin: 0 auto; }
      .contact .contact-container .contact-right input[type=text],
      .contact .contact-container .contact-right input[type=email],
      .contact .contact-container .contact-right textarea {
        font-size: 2rem;
        width: 100%;
        padding: 15px 0;
        display: inline-block;
        border: none;
        border-bottom: 2px solid #dd0081; }
      .contact .contact-container .contact-right input[type=submit] {
        border: none;
        font-size: 2rem;
        width: 100%;
        padding: 15px 0;
        margin-top: 20px;
        display: inline-block; }

footer {
  margin: 0 auto; }
  footer .top-menu-bar {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    z-index: 20; }
    footer .top-menu-bar .logoContainer {
      width: 60px;
      padding: 10px; }
    footer .top-menu-bar .toggleMenu {
      display: none; }
    footer .top-menu-bar ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      footer .top-menu-bar ul li {
        list-style: none; }
        footer .top-menu-bar ul li a {
          text-decoration: none;
          padding: 10px;
          color: #242722; }

/*==========================
GLOBAL STYLES
==========================*/
.wrapper {
  width: 75%;
  margin: 0 auto; }

img {
  width: 100%;
  display: block; }

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

.subheader-container {
  width: 320px; }
  .subheader-container h2 {
    border-bottom: 3px solid #dd0081;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: #646464;
    z-index: 10; }

/*==========================
MEDIA QUERIES
==========================*/
@media (max-width: 1000px) {
  header .hero-wrapper .hero-name {
    padding: 100px 0 0 60px;
    width: 100%; } }

@media (max-width: 855px) {
  header .hero-wrapper .hero-name {
    padding: 40px 0 0 60px;
    width: 100%; }
  .skills {
    height: auto; }
    .skills .skills-container .skills-item .skills-svg {
      width: 50px;
      height: 50px; } }

@media (max-width: 735px) {
  .skills .skills-container .skills-item .skills-svg {
    width: 48px;
    height: 48px; } }

@media (max-width: 705px) {
  .wrapper,
  header .hero-wrapper {
    width: 95%; }
  .skills {
    height: auto; }
    .skills .skills-container .skills-item .skills-svg {
      width: 46px;
      height: 46px; } }

@media (max-width: 650px) {
  .clint .about-me-divider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .clint .about-me-divider .about-me-text {
      width: 100%; }
      .clint .about-me-divider .about-me-text .about-me-icons ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

@media (max-width: 475px) {
  header {
    background-position: 80% 50%; }
  header .hero-wrapper .hero-name {
    padding: 70px 0 0 22px;
    width: 100%; }
  header .hero-wrapper .top-menu-bar .toggleMenu {
    display: block; }
  header .hero-wrapper .top-menu-bar nav.open {
    height: auto; }
  .skills .skills-container .skills-item {
    margin: 15px 0; }
    .skills .skills-container .skills-item .skills-svg {
      width: 32px;
      height: 32px; }
  .portfolio-skills,
  .portfolio .portfolio-container:nth-child(odd) .portfolio-skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
